CSharp1_zaverecny_projekt_Trida_Studentu/obj/CSharp1_zaverecny_projekt_Trida_Studentu.csproj.nuget.dgspec.json
CSharp1_zaverecny_projekt_Trida_Studentu/obj/CSharp1_zaverecny_projekt_Trida_Studentu.csproj.nuget.g.props
CSharp1_zaverecny_projekt_Trida_Studentu/obj/CSharp1_zaverecny_projekt_Trida_Studentu.csproj.nuget.g.targets
CSharp1_zaverecny_projekt_Trida_Studentu/obj/project.assets.json
CSharp1_zaverecny_projekt_Trida_Studentu/obj/project.nuget.cache
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/apphost.exe
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.AssemblyInfo.cs
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.AssemblyInfoInputs.cache
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.assets.cache
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.csproj.CoreCompileInputs.cache
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.csproj.FileListAbsolute.txt
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.dll
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.GeneratedMSBuildEditorConfig.editorconfig
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.genruntimeconfig.cache
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.GlobalUsings.g.cs
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.pdb
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/ref/CSharp1_zaverecny_projekt_Trida_Studentu.dll
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/refint/CSharp1_zaverecny_projekt_Trida_Studentu.dll
.vscode/settings.json
CSharp1_zaverecny_projekt_Trida_Studentu/bin/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.deps.json
CSharp1_zaverecny_projekt_Trida_Studentu/bin/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.dll
CSharp1_zaverecny_projekt_Trida_Studentu/bin/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.exe
CSharp1_zaverecny_projekt_Trida_Studentu/bin/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.pdb
CSharp1_zaverecny_projekt_Trida_Studentu/bin/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.runtimeconfig.json
CSharp1_zaverecny_projekt_Trida_Studentu/obj/Debug/net8.0/CSharp1_zaverecny_projekt_Trida_Studentu.sourcelink.json
